<!--Szablon edycji profilu użytkownika-->

{% extends 'base.html' %}
{% block my_body %}

<div class="container">
    <h1>Profil</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit" name="login_button">Zapisz</button>
</form>
</div>
{% endblock %}