<!--Szablon logowania - wersja pierwsza, robocza.-->
<!--Jedyny szablon, który nie rozszerza naszego szablonu bazowego-->
<!--Stworzony na potrzeby prezentacji obsługi plików statycznych (tutaj css)-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/style.css' %}" type="text/css">
    <title>Logowanie</title>
</head>
    <div class="container">
    <body>
        <h1>Cześć {{ my_name }} </h1>
        Tu możesz się zalogować.
        <button type="button" class="btn btn-primary">Zaloguj</button>
    </body>
    </div>
</html>