<!--Szablon logowania.-->

{% extends 'base.html' %}
{% block my_body %}
<div class="container">
<h1>Witaj!</h1>
<p>
    Tutaj możesz się zalogować.
</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit" name="login_button">Zaloguj</button>
</form>
</div>
{% endblock %}