<!--Szablon wylogowywania. Wyświetlany po wylogowaniu z aplikacji-->

{% extends 'base.html' %}
{% block my_body %}
<div class="container">
<p>
    Pomyślnie wylogowano z aplikacji.
</p>
</div>
{% endblock %}