<!--Szablon do wyświetlania profilu użytkownika-->

{% extends 'base.html' %}
{% block my_head %}
<title>Profil</title>
{% endblock %}

{% block my_body %}
<div class="container">
    <h1> Profil </h1>
    <p>{{ user }}</p>
    <p>{{ user.first_name }}</p>
    <p>{{ user.last_name }}</p>
    <p>{{ user.email }}</p>
</div>
{% endblock my_body %}