<!--Szablon rejestracji użytkownika-->

{% extends 'base.html' %}
{% block my_body %}
<div class="container">
    <h1>Rejestracja</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit" name="login_button">Zarejestruj</button>
</form>
</div>
{% endblock %}