<!--Bazowy szablon, zawiera html wspólny dla wszystkich szablonów naszej aplikacji-->
<!--Szablon posiada dwa bloki - my_head, my_body, które mogą być wypełniane
w szablonach rozszerzających. Pozostałe szablony rozszerzają ten widok-->

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<!--    Najnowsza wersja biblioteki bootstrap ma błędy, dlatego używamy starszej wersji-->
<!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <meta charset="UTF-8">
    {% block my_head %}
    <title>Base</title>
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
           {% if user.is_authenticated %}
           <li class="active"><a href="{% url 'logout2' %}">Wyloguj<span class="sr-only">(current)</span></a></li>
           {% else %}
           <li class="active"><a href="{% url 'login2' %}">Logowanie<span class="sr-only">(current)</span></a></li>
          {% endif %}

           <li class="active"><a href="{% url 'register2' %}">Rejestracja<span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    {% block my_body %}

    {% endblock %}
</body>
</html>